<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.F1naticStoreConnectionString"
            connectionString="Data Source=DESKTOP-6JQ8PI2\sqlexpress;Initial Catalog=F1naticStore;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>